.contact-me-section {
  padding-top: 2rem;
  padding-bottom: 2rem;


  h2 {
    margin-bottom: 2rem;
  }

  .contact-me-content {

    display: grid;

    grid-template-areas:
      'contacts'
      'description'
      'about-me';

    grid-template-columns: 1fr;
    grid-template-rows: auto;


    @media screen and (min-width: $breakpoint-sm) {
      grid-template-columns: 1fr 2fr;

      grid-template-areas:
        'about-me contacts'
        'description description';
    }

    .about-me {
      grid-area: about-me;

      figure {
        margin-bottom: 1rem;

        figcaption {
          font-size: 1.5rem;
          text-transform: uppercase;
        }

        .image-wrapper {
          border: 2px solid $primary-color;
          border-radius: 50%;
          overflow: hidden;
          height: 200px;
          width: 200px;
          margin-bottom: 1rem;

          img {
            height: 200px;
            width: 200px;
          }
        }
      }
    }

    .contacts {
      grid-area: contacts;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      >p {
        margin-bottom: 1rem;
      }
    }


    >p {
      grid-area: description;
    }

    a {
      font-size: 1.5rem;
      margin-bottom: 2rem;

      @media screen and (min-width: $breakpoint-sm) {
        font-size: 2rem;
      }

    }


  }
}