.contact-me-section {
  padding-top: 2rem;
  padding-bottom: 5rem;
  height: 50vh;

  h2 {
    margin-bottom: 2rem;
  }

  .contact-me-content {
    height: 100%;
    display: grid;

    gap: $grid-gap;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;


    @media screen and (min-width: $breakpoint-sm) {
      grid-template-columns: 1fr 2fr;

    }

    .about-me {

      figure {
        height: 100%;


        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        .image-wrapper {
          border: 1px solid $primary-color;
          border-radius: 50%;
          overflow: hidden;

          margin-bottom: 1rem;

          img {
            height: 6rem;
            width: 6rem;
          }

          @media screen and (min-width: $breakpoint-md) {
            img {
              height: 12rem;
              width: 12rem;
            }
          }


        }
      }
    }

    .contacts {

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      justify-content: center;
      
      align-items: center;

      h2 {
        text-align: center;
      } 

      @media screen and (min-width: $breakpoint-sm) {
        align-items: baseline;
        h2 {
          text-align: left;
        } 
      }

      > p {
        margin-bottom: 1rem;
      }
    }

    a {
      margin-bottom: 2rem;
    }


  }
}