.solid-background-section {
  background: var(--section-color, $white);
  max-width: none !important;

  width: 100% !important;
  
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;

  .content-wrapper {
    @include adaptive-max-width;
  }
}


@import 'hero';
@import 'contact-me';
@import 'products';