.products-section {
  --section-color: #{$lightest-grey};
  
  padding-top: 3rem;
  padding-bottom: 2rem;

  .products-subheader {
    margin-top: 0.5rem;
  }

  .products-list {
    display: grid;

    .product {
      margin-top: 1.5rem;
      display: grid;

      grid-template-columns: 1fr;

      @media screen and (min-width: $breakpoint-sm) {
        grid-template-columns: 1fr 2fr;
      }

      padding-top: 1.5rem;

      border-top: 1px solid $primary-color;

      .product-description {
        h4 {
          margin-bottom: 1rem;
        }

        ol {
          list-style: inside decimal;

          li {
            margin-bottom: 0.5rem;

          }
        }
      }
    }
  }

}