.products-section {
  --section-color: #{$lightest-grey};
  
  padding-top: 3rem;
  padding-bottom: 2rem;

  .products-subheader {
    margin-top: 0.5rem;
  }

  .products-list {
    display: grid;
    

    .product {
      margin-top: 1.5rem;
      display: grid;

      gap: $grid-gap;
      
      grid-template-columns: 1fr;

      @media screen and (min-width: $breakpoint-sm) {
        grid-template-columns: 2fr 3fr;
      }

      padding-top: 1.5rem;

      border-top: 1px solid $primary-color;

      .tag-powerpoint {
        background: #CA4C28;
        color: $white;
      }

      .tag-video {
        background: #2899e4;
        color: $white;
      }

      .tag {
        padding: 0.5rem;
        width: max-content;
        margin-top: 0.5rem;
      }

      .product-description {
        h4 {
          margin-bottom: 1rem;
        }

        ol {
          list-style: inside decimal;

          li {
            margin-bottom: 0.5rem;

          }
        }

        .product-video {
          width: 100%;
          aspect-ratio: 16 / 9;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

}