
$breakpoint-sm: 640px;
$breakpoint-md: 960px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;

$padding-sm: 12px;
$padding-md: 24px;
$padding-lg: 48px;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  align-items: center;

  background-color: brown;

  padding: 0 $padding-sm;

  @media screen and (min-width: $breakpoint-sm) {
    padding: 0 $padding-md;
  }

  @media screen and (min-width: $breakpoint-lg) {
    padding: 0 $padding-lg;
  }
}

.hero-section {
  display: flex;
  flex-wrap: nowrap;

  align-items: center;

  width: 100%;
  //max-width: 900px;
  background-color: aqua;
}