::selection {
  background: $primary-color;
  color: white;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  align-items: center;

  padding: 0 1em;
  background-repeat: no-repeat;

  section {
    width: 100%;
    height: auto;
    max-width: $breakpoint-lg;
  }
}

.hero-section {
  margin-top: 4rem;
  margin-bottom: 5rem;

  display: grid;
  grid-template-rows: auto;

  grid-template-columns: 100%;

  .hero-decoration {
    display: none;
  }

  @media screen and (min-width: $breakpoint-sm) {
    grid-template-columns: 1fr 1fr;

    .hero-decoration {
      display: block;
    }
  }

  .hero-content {
    h1 {
      text-align: center;
    }

    p {

      line-height: 1.3em;
      text-align: center;

      margin-top: 1rem;
    }

    @media screen and (min-width: $breakpoint-sm) {

      h1,
      p {
        text-align: left;
      }
    }
  }
}

.products-section {
  .products-list {
    display: grid;

    .product {
      margin-top: 1.5rem;
      display: grid;

      grid-template-columns: 1fr 1fr;
      .product-description {
        ol {
          list-style: inside decimal;
        }
      }
    }
  }
}