$breakpoint-xs: 420px;
$breakpoint-sm: 640px;
$breakpoint-md: 960px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;

$padding-sm: 12px;
$padding-md: 24px;
$padding-lg: 48px;

$primary-color: #2877EC;
$secondary-color: adjust-hue($primary-color, 45);

$light-grey: #C5CFD6;
$lightest-grey: #F2F2F2;

$white: rgb(255, 255, 255);
$black: black;
